<div class="terminal__banner">
  <div class="terminal__banner-art">
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)&nbsp;&nbsp;(</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;&nbsp;&nbsp;)&nbsp;)</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)&nbsp;(&nbsp;(</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______)_</div>
    <div>&nbsp;&nbsp;.-'---------|&nbsp;&nbsp;</div>
    <div>&nbsp;(&nbsp;C|/\/\/\/\/|</div>
    <div>&nbsp;&nbsp;'-./\/\/\/\/|</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;'_________'</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'-------'</div>
  </div>
  <div class="terminal__banner-name">
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;_&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;/\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;(_)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;\/&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;_|&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div>
      &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;__|&nbsp;|&nbsp;|_&nbsp;&nbsp;___&nbsp;&nbsp;_&nbsp;__&nbsp;&nbsp;&nbsp;|&nbsp;\&nbsp;&nbsp;/&nbsp;|_&nbsp;&nbsp;&nbsp;_|&nbsp;|_|&nbsp;|_&nbsp;__&nbsp;_&nbsp;_&nbsp;__&nbsp;__&nbsp;_&nbsp;&nbsp;__&nbsp;_&nbsp;&nbsp;___&nbsp;&nbsp;
    </div>
    <div>
      &nbsp;&nbsp;/&nbsp;/\&nbsp;\&nbsp;/&nbsp;_`&nbsp;|&nbsp;|&nbsp;|/&nbsp;_&nbsp;\|&nbsp;'_&nbsp;\&nbsp;&nbsp;|&nbsp;|\/|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;_|&nbsp;__/&nbsp;_`&nbsp;|&nbsp;'__/&nbsp;_`&nbsp;|/&nbsp;_`&nbsp;|/&nbsp;_&nbsp;\&nbsp;
    </div>
    <div>
      &nbsp;/&nbsp;____&nbsp;\&nbsp;(_|&nbsp;|&nbsp;|&nbsp;|&nbsp;(_)&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|&nbsp;|_|&nbsp;|&nbsp;|&nbsp;|&nbsp;||&nbsp;(_|&nbsp;|&nbsp;|&nbsp;|&nbsp;(_|&nbsp;|&nbsp;(_|&nbsp;|&nbsp;(_)&nbsp;|
    </div>
    <div>
      /_/&nbsp;&nbsp;&nbsp;&nbsp;\_\__,_|_|_|\___/|_|&nbsp;|_|&nbsp;|_|&nbsp;&nbsp;|_|\__,&nbsp;|_|&nbsp;&nbsp;\__\__,_|_|&nbsp;&nbsp;\__,_|\__,&nbsp;|\___/&nbsp;
    </div>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__/&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__/&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|___/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|___/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</div>
